@charset "utf-8";

/* *****************************
 *
 * Import file to Scss or Sass.
 *
 **************************** */

/*====================================================================

01.format
02.header
03.contents
04.footer
05.top
06.ボトムページ共通
07.about
08.shop
09.method
10.power

=====================================================================*/

/* 01.format
-------------------------------------------------- */

 @mixin wrap {
  margin: 0 auto;
}

$fc01: #1b1b1b;
$fc02: #56815c;
$support-ie6: false;
$support-ie7: true;
$support-ie8: true;
$support-ie9: true;
$support-mozilla: true;
$support-webkit: true;
$support-opera: true;
@mixin clearfix {
  @if $support-ie6 or $support-ie7 {
    *zoom: 1;
  }
  &:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
  }
}

$breakpoint-mobile: 1000px;
@mixin max-screen($break-point) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}

$breakpoint-mobile1: 1001px;
@mixin min-screen($break-point) {
  @media screen and (min-width: $break-point) {
    @content;
  }
}

@mixin screen($break-point-min, $break-point-max) {
  @media screen and (min-width: $break-point-min) and (max-width: $break-point-max) {
    @content;
  }
}

body{
    height: 100%;
    font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, 'MS PGothic', arial, helvetica, sans-serif;
    color: $fc01;
    background: url("../img/bac-bg.gif");
    @include min-screen($breakpoint-mobile) {
      font-size: 14px;
      /*line-height:　;*/
    }
    @include max-screen($breakpoint-mobile) {
      font-size: 13px;
      line-height: 1.692;
    }
}

.pc {
  @include max-screen($breakpoint-mobile) {
    display: none!important;
  }
}

.rsp {
  @include min-screen($breakpoint-mobile1) {
    display: none!important;
  }
}

img {
  @include max-screen($breakpoint-mobile) {
    width: 100%;
    height: auto;
  }
}

/* 02.header
-------------------------------------------------- */

#header{
  position: fixed;
  z-index: 99;
  height: 100%;
  top: 0;
  left: 0;
  h1{
    position: absolute;
    width: 100%;
    margin: 5px 0 0 10px;
    color: #fff;
    font-size: 11px;
    font-weight: 400;
  }
  .logo{
    position: absolute;
    width: 126px;
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    img{
      width: 100%;
      height: auto;
    }
  }
}

#header_rsp{
  position: relative;
  background: url("../img/sp/main.jpg") center top no-repeat;
  background-size: cover;
  h1{
    width: 21.5%;
    height: auto;
    margin: 0 auto;
    padding-top: 20%;
  }
  #menu_btn{
    position: absolute;
    top: 0;
    left: 3%;
    width: 12%;
    height: auto;
    padding-top: 3%;
  }
}

#main_img{
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  .slider{
    li{
      height: 1800px;
      background-position: center 0;
      background-size: cover;
    }
  }
}

/* 03.contents
-------------------------------------------------- */
#contents{
  position: relative;
  top: 0;
  float: right;
  width: 867px;
  @include max-screen($breakpoint-mobile) {
    position: static;
    float: none;
    width: 100%;

  }
  #gnav{
    /*position: fixed;*/
    position: absolute;
    float: left;
    width: 87px;
    padding: 72px 0;
    li{
      padding-bottom: 35px;
      a{
        display: block;
        img{
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
  #menu{
    display: none;
    width: 100%;
    top: 74px;
    position: absolute;
    z-index: 100;
    li{
      background-color: #fff;
      border-top: 1px solid #799c7e;
      a {
        display: block;
        padding: 3%;
        color: #799c7e;
        text-decoration: none;
      }
    }
  }

  #wrap{
    @include clearfix;
    position: relative;
    left: 87px;
    width: 773px;
    @include max-screen($breakpoint-mobile) {
      left: 0;
      width: 100%;
    }
  }
}

/* 04.footer
-------------------------------------------------- */
#contents{
  #footer{
    position: relative;
    left: 87px;
    width: 726px;
    height: 48px;
    padding: 25px 20px 25px 25px;
    border: 1px solid #c6c6c6;
    @include max-screen($breakpoint-mobile) {
      position: static;
      width: 93%;
      height: auto;
      margin: 0 auto;
      padding: 0;
      border: none;
    }
    .unit{
      float: left;
      ul{
        font-size: 0;
        li{
          display: inline-block;
          padding: 0 8px;
          font-size: 13px;
          border-right: 2px solid #c6c6c6;
          &:first-child{
            padding-left: 0;
          }
          &:last-child{
            border-right: none;
          }
          a:hover {
            text-decoration: underline;
          }
        }
      }
      p{
        padding-top: 18px;
        font-size: 12px;
      }
    }
    .to_top{
      float: right;
      width: 58px;
      height: 57px;
      @include max-screen($breakpoint-mobile) {
        float: none;
        margin: 0 auto 40px;
      }
    }
    .copyright{
      padding-bottom: 25px;
      font-size: 12px;
      text-align: center;
      line-height: 2.167;
    }
  }
}

/* 05.top
-------------------------------------------------- */
#contents{
  .top{
    padding-top: 7px;
    @include max-screen($breakpoint-mobile) {
      padding-top: 0;
    }
    .section{
      @include clearfix;
      padding-bottom: 7px;
      @include max-screen($breakpoint-mobile) {
        padding-bottom: 0;
      }
      .about{
        float: left;
        width: 500px;
        @include max-screen($breakpoint-mobile) {
          float: none;
          width: 100%;
        }
      }
      .feature{
        float: right;
        width: 264px;
        @include max-screen($breakpoint-mobile) {
          float: none;
          width: 100%;
        }
      }
      .power{
        float: left;
        width: 267px;
      }
      .unit{
        float: right;
        width: 499px;
        .news{
          width: 497px;
          height: 205px;
          margin-bottom: 7px;
          border: 1px solid #c6c6c6;
          h2{
            width: 238px;
            height: 16px;
            padding: 20px 0 20px 22px;
          }
          .article_area{
            width: 100%;
            height: 145px;
            overflow: auto;
            h3{
              padding: 17px 22px 0;
              line-height: 1.714;
              border-top: 1px solid #c6c6c6;
            }
            p{
              padding: 0 22px 10px;
              line-height: 1.714;
            }
          }
        }
        .shop{
          float: left;
          width: 244px;
          height: 216px;
          border: 1px solid #c6c6c6;
          p{
            width: 90px;
            height: 65px;
            margin: 125px auto;
            font-size: 14px;
            text-align: center;
            background: url("../img/top/shop_icon.gif") 50% 100% no-repeat;
            a{
              display: block;
              width: 100%;
              height: 100%;
              color: $fc01;
            }
          }
        }
        .price{
          float: right;
          width: 244px;
          height: 216px;
          border: 1px solid #c6c6c6;
          p{
            width: 90px;
            height: 65px;
            margin: 125px auto;
            font-size: 14px;
            text-align: center;
            background: url("../img/top/price_icon.gif") 50% 100% no-repeat;
            a{
              display: block;
              width: 100%;
              height: 100%;
              color: $fc01;
            }
          }
        }
      }
      img{
        width: 100%;
        height: auto;
      }
    }
    .section_rsp{
      @include clearfix;
      width: 93%;
      margin: 0 auto;
      padding-bottom: 3%;
      .power{
        width: 100%;
      }
      .shop{
        float: left;
        width: 49%;
        border: 1px solid #c6c6c6;
        p{
          height: 100%;
          background: url("../img/top/shop_icon.gif") 50% 80% no-repeat;
          background-size: 25% auto;
          a{
            display: block;
            width: 100%;
            height: 56%;
            padding-top: 40%;
            font-size: 14px;
            text-align: center;
            color: $fc01;
          }
        }
      }
      .price{
        float: right;
        width: 49%;
        border: 1px solid #c6c6c6;
        p{
          height: 100%;
          background: url("../img/top/price_icon.gif") 50% 80% no-repeat;
          background-size: 20% auto;
          a{
            display: block;
            width: 100%;
            height: 56%;
            padding-top: 40%;
            font-size: 14px;
            text-align: center;
            color: $fc01;
          }
        }
      }
      .news{
        width: 100%;
        height: auto;
        margin-bottom: 7px;
        border: 1px solid #c6c6c6;
        h2{
          width: 238px;
          height: 16px;
          padding: 4% 0 4% 4%;
        }
        .article_area{
          width: 100%;
          overflow: auto;
          border-top: 1px solid #c6c6c6;
          h3{
            width: 92%;
            margin: 0 auto;
            padding-top: 3%;
            font-size: 13px;
            line-height: 1.714;
            border-top: 1px dotted #c6c6c6;
          }
          .first{
            border-top: none;
          }
          p{
            width: 92%;
            margin: 0 auto;
            padding-bottom: 4%;
            font-size: 13px;
            line-height: 1.846;
          }
        }
      }
    }
    #banner{
      height: 234px;
      padding-left: 43px;
      background: url("../img/top/shopinfo_bg.jpg") no-repeat;
      @include max-screen($breakpoint-mobile) {
        width: 93%;
        height: auto;
        margin: 0 auto;
        padding-bottom: 20px;
        padding-left: 0;
        background: none;
      }
      h2{
        width: 340px;
        height: 23px;
        padding: 23px 0 15px;
        @include max-screen($breakpoint-mobile) {
          padding: 0 0 20px;
        }
      }
      p{
        width: 685px;
        line-height: 1.714;
        @include max-screen($breakpoint-mobile) {
          width: 100%;
          font-size: 13px;
          line-height: 1.846;
        }
      }
    }
    #banner_rsp{
      width: 93%;
      margin: 0 auto 12px;
    }
    #shopinfo{
      margin-bottom: 7px;
      padding: 20px 0 20px 43px;
      border: 1px solid #c6c6c6;
      @include max-screen($breakpoint-mobile) {
        width: 85%;
        margin: 0 auto 30px;
        padding: 5% 4%;
      }
      p{
        font-size: 14px;
        line-height: 2;
        @include max-screen($breakpoint-mobile) {
          font-size: 13px;
          line-height: 1.846;
        }
        a{
          border-bottom: 1px solid #a1a19c;
          @include max-screen($breakpoint-mobile) {
            border-bottom: 1px solid #000;
          }
        }
        span{
          font-weight: bold;
        }
      }
    }
  }
}

/* 06.ボトムページ共通
-------------------------------------------------- */
#contents{
  .btm{
    width: 772px;
    border-left: 1px solid #c6c6c6;
    @include max-screen($breakpoint-mobile) {
      width: 100%;
      border-left: none;
    }
    .section{
      @include clearfix;
      width: 680px;
      margin: 0 auto;
      padding-bottom: 50px;
      @include max-screen($breakpoint-mobile) {
        width: 93%;
        padding-bottom: 0;
      }
      .section_ttl{
        width: 100%;
        height: 43px;
        margin-bottom: 20px;
        border-bottom: 3px solid #799c7e;
        @include max-screen($breakpoint-mobile) {
          img {
            display: block;
          }
        }
      }
      p{
        line-height: 1.714;
        @include max-screen($breakpoint-mobile) {
          font-size: 13px;
          line-height: 1.692;
        }
      }
    }
    #outline{
      padding-top: 50px;
      @include max-screen($breakpoint-mobile) {
        padding-top: 20px;
        padding-top: 5.3%;
      }
      h2{
        margin: 0 auto;
      }
    }
  }
}

/* 07.about
-------------------------------------------------- */
#contents{
  .about{
    #outline{
      background: url("../img/about/outline_bg.png") center top no-repeat;
      @include max-screen($breakpoint-mobile) {
        margin-bottom: 25.5px;
        background: none;
      }
      h2{
        width: 254px;
        padding-bottom: 410px;
        @include max-screen($breakpoint-mobile) {
          padding-bottom: 30px;
        }
      }
      .ol_img {
        margin: 0 auto 30px;
      }
    }
    #feature{
      .section_ttl .img_feature {
        @include max-screen($breakpoint-mobile) {
          width: 170px;
          height: 36px;
        }
      }
      .txt01{
        padding-bottom: 35px;
        @include max-screen($breakpoint-mobile) {
          padding-bottom: 11px;
        }
      }
      .unit01{
        width: 625px;
        margin: 0 auto;
        padding-bottom: 45px;
        @include max-screen($breakpoint-mobile) {
          width: 100%;
          margin-bottom: 15px;
          padding: 20px 0 16px;
          background: url("../img/method/caution_bg.jpg") 0 0 no-repeat;
          background-size: cover;
          p{
            padding: 0 3%;
          }
        }
        h3{
          font-size: 16px;
          font-family: "Kozuka Mincho Pr6N";
          text-align: center;
          line-height: 2.625;
          @include max-screen($breakpoint-mobile) {
            padding-bottom: 10px;
            line-height: 1;
          }
        }
      }
      .unit02{
        margin-bottom: 25px;
        padding-left: 100px;
         @include max-screen($breakpoint-mobile) {
          width: 100%;
          margin-bottom: 0;
          padding: 90px 0 10px;
         }
        h4{
          line-height: 1.786;
          @include max-screen($breakpoint-mobile) {
            line-height: 1.692;
          }
        }
      }
      #kono01{
        background: url("../img/about/kono01.gif") 0 50% no-repeat;
        @include max-screen($breakpoint-mobile) {
          background-position: center top;
        }
      }
      #kono02{
        background: url("../img/about/kono02.gif") 0 50% no-repeat;
        @include max-screen($breakpoint-mobile) {
          background-position: center top;
        }
      }
      #kono03{
        background: url("../img/about/kono03.gif") no-repeat;
        padding-top: 8px;
        padding-bottom: 8px;
        @include max-screen($breakpoint-mobile) {
          padding: 90px 0 10px;
          background-position: center top;
        }
      }
      #kono04{
        margin-bottom: 0;
        background: url("../img/about/kono04.gif") 0 50% no-repeat;
        @include max-screen($breakpoint-mobile) {
          padding-bottom: 40px;
          background-position: center top;
        }
      }
    }
  }
}

/* 08.shop
-------------------------------------------------- */
#contents{
  .shop{
    #outline{
      h2{
        width: 256px;
        padding-bottom: 55px;
        @include max-screen($breakpoint-mobile) {
          padding-bottom: 30px;
        }
      }
      table{
        width: 100%;
        margin-bottom: 20px;
        border-top: 1px dotted #000;
        @include max-screen($breakpoint-mobile) {
          margin-bottom: 5.6%;
          line-height: 1.692;
        }
        tr{
          border-bottom: 1px dotted #000;
          th{
            width: 145px;
            padding: 17px 0 17px 10px;
            font-weight: bold;
            text-align: left;
            @include max-screen($breakpoint-mobile) {
              width: 21%;
              padding: 0;
              font-size: 13px;
            }
          }
          td{
            @include max-screen($breakpoint-mobile) {
              padding: 12px 0;
              font-size: 13px;
            }
          }
        }
      }
      .photo_area{
        padding-bottom: 25px;
        @include max-screen($breakpoint-mobile) {
          padding-bottom: 5.7%;
        }
      }
      .gmap{
        position: relative;
        padding-bottom: 45%; // これが縦横比
        height: 0;
        overflow: hidden;
        margin-bottom: 10px;
        border: 1px solid #a6a6a6;
        @include max-screen($breakpoint-mobile) {
          padding-bottom: 71%;
          margin-bottom: 10px;
        }
        iframe{
          position: absolute;
          top: 0;
          left: 0;
          width: 100% !important;
          height: 100% !important;
        }
      }
      .map_guide{
        height: 43px;
        padding: 20px;
        background: url("../img/shop/shop_bg.jpg") no-repeat;
        @include max-screen($breakpoint-mobile) {
          width: 94.2%;
          height: auto;
          margin-bottom: 20px;
          background-size: cover;
          padding: 10.5px 2.9% 9px;
        }
        p{
          line-height: 1.857;
          @include max-screen($breakpoint-mobile) {
            font-size: 13px;
            line-height: 1.692;
          }
        }
      }
    }
    #price{
      .section_ttl .img_price{
        @include max-screen($breakpoint-mobile) {
          width: 195px;
          height: 37px;
        }
      }
      table{
        width: 100%;
        tr{
          height: 38px;

          th{
            width: 50%;
            background: url("../img/shop/shop_bg.jpg") no-repeat;
            font-weight: normal;
            vertical-align: middle;
            border: 1px solid #a6a6a6;
            @include max-screen($breakpoint-mobile) {
              font-size: 13px;
            }
          }
          td{
            text-align: center;
            vertical-align: middle;
            border: 1px solid #a6a6a6;
            @include max-screen($breakpoint-mobile) {
              font-size: 13px;
            }
          }
        }
      }
      .menu{
        margin-bottom: 10px;
      }
      .option{
        margin-bottom: 15px;
      }
      .txt_area{
        @include max-screen($breakpoint-mobile) {
          padding-bottom: 36.5px;
        }
      }
    }
  }
}

/* 09.method
-------------------------------------------------- */
#contents{
  .method{
    #outline{
      h2{
        width: 211px;
        padding-bottom: 55px;
        @include max-screen($breakpoint-mobile) {
          padding-bottom: 30px;
        }
      }
      .txt_area01{
        padding-bottom: 25px;
        @include max-screen($breakpoint-mobile) {
          padding-bottom: 15px;
        }
      }
      .caution{
        padding: 22px 0 34px;
        background: url("../img/method/caution_bg.jpg") no-repeat;
        background-size: cover;
        @include max-screen($breakpoint-mobile) {
          margin-bottom: 4.3%;
          padding: 15px 0 20px;
          background-size: cover;
        }
        h3{
          margin: 0 auto 25px;
          font-size: 18px;
          font-family: "Kozuka Mincho Pr6N";
          line-height: 2.333;
          border-bottom: 1px solid #000;
          @include max-screen($breakpoint-mobile) {
            margin: 0 auto 20px;
            font-size: 16px;
            font-weight: bold;
          }
        }
        .sub_ttl01{
          width: 365px;
          @include max-screen($breakpoint-mobile) {
            width: 320px;
          }
        }
        .sub_ttl02{
          width: 150px;
          @include max-screen($breakpoint-mobile) {
            width: 130px;
          }
        }
        .txt_area02{
          padding: 0 32px;
          @include max-screen($breakpoint-mobile) {
            width: 91%;
            margin: 0 auto;
            padding: 0;
          }
          p{
            line-height: 1.857;
            @include max-screen($breakpoint-mobile) {
              font-size: 13px;
              line-height: 1.692;
            }
          }
          .note{
            color: #e60012;
          }
        }
      }
    }
    #step{
      .unit{
        @include clearfix;
        padding-bottom: 30px;
        background: url("../img/method/yajirushi.gif") 50% 97% no-repeat;
        @include max-screen($breakpoint-mobile) {
          padding-bottom: 9%;
          background-size: 8.3% auto;
          background-position: 50% 98%;
        }
        .photo{
          float: left;
          width: 156px;
          height: 115px;
          border: 1px solid #a6a6a6;
          @include max-screen($breakpoint-mobile) {
            float: none;
            width: 45%;
            height: auto;
            margin: 0 auto 2%;
          }
        }
        .txt_area03{
          float: right;
          height: 102px;
          width: 474px;
          padding: 13px 17px 0;
          border: 1px solid #a6a6a6;
          @include max-screen($breakpoint-mobile) {
            float: none;
            width: 96%;
            height: auto;
            margin: 0 auto;
            padding: 10px 2%;
          }
          h3{
            line-height: 1.714;
            color: $fc02;
          }
        }
      }
      .last{
        padding-bottom: 0;
        background: none;
        @include max-screen($breakpoint-mobile) {
          margin-bottom: 40px;
        }
      }
    }
  }
}

/* 10.power
-------------------------------------------------- */
#contents{
  .power{
    #outline{
      background: url("../img/power/page_ttl_bg.png") center 173px no-repeat;
      @include max-screen($breakpoint-mobile) {
       background: none;
      }
      h2{
        width: 251px;
        padding-bottom: 298px;
        @include max-screen($breakpoint-mobile) {
          width: 100%;
          padding-bottom: 41.3%;
          background: url("../img/sp/outline_bg_power.png") center 100% no-repeat;
          background-size: 100% auto;
          img{
            display: block;
            width: 251px;
            margin: 0 auto;
          }
        }
      }
      .txt01{
        padding-bottom: 35px;
        @include max-screen($breakpoint-mobile) {
          padding: 15.5px 0 25.5px;
        }
      }
      h3{
        padding-bottom: 12px;
        font-weight: bold;
        @include max-screen($breakpoint-mobile) {
          padding-bottom: 5.5px;
        }
      }
      .sub_ttl{
        color: $fc02;
      }
      .txt02{
        padding-bottom: 12px;
        @include max-screen($breakpoint-mobile) {
          padding-bottom: 5.5px;
        }
      }
      .txt03{
        padding: 26px 0 25px;
        @include max-screen($breakpoint-mobile) {
          padding: 15.5px 0 5.5px;
        }
      }
      .unit{
        width: 679px;
        height: 62px;
        padding: 14px 0 0 22px;
        background: url("../img/power/frame.gif") no-repeat;
        @include max-screen($breakpoint-mobile) {
          @include clearfix;
          position: relative;
          width: 90%;
          height: auto;
          margin-bottom: 20px;
          padding: 14px 4%;
          border: 3px solid #799c7e;
          border-radius: 10px;
          background: none;
        }
      }
    }
    #guide{
      .section_ttl .img_guide {
        @include max-screen($breakpoint-mobile) {
          width: 193px;
          height: 37px;
        }
      }
      .txt_area01{
        padding-bottom: 25px;
        @include max-screen($breakpoint-mobile) {
          padding-bottom: 15.5px;
        }
        p{
          span{
            font-weight: bold;
          }
          a{
            font-weight: bold;
            color: $fc02;
          }
        }
      }
      .unit{
        @include clearfix;
        padding: 20px 0;
        border-bottom: 1px dotted #000;
        .photo{
          float: left;
          width: 152px;
          @include max-screen($breakpoint-mobile) {
            float: none;
            width: 43.3%;
            margin: 0 auto 20px;
          }
        }
        .txt_area02{
          float: right;
          padding-right: 8px;
          @include max-screen($breakpoint-mobile) {
            float: none;
            width: 100%;
          }
          h3{
            line-height: 1;
            padding-top: 5px;
            padding-bottom: 7px;
            @include max-screen($breakpoint-mobile) {
              padding-top: 0;
              padding-bottom: 5px;
              font-size: 13px;
            }
          }
          table{
            @include max-screen($breakpoint-mobile) {
                width: 100%;
              }
            tr{
              width: 420px;
              line-height: 1.6;
              color: $fc02;
              @include max-screen($breakpoint-mobile) {
                width: 100%;
                line-height: 1.846;
                td{
                  @include max-screen($breakpoint-mobile) {
                    font-size: 13px;
                  }
                }
              }
              .volume{
                width: 70px;
                @include max-screen($breakpoint-mobile) {
                  width: 20%;
                }
              }
            }
          }
          .product06{
            tr{
              width: 460px;
              @include max-screen($breakpoint-mobile) {
                width: 100%;
              }
              th{
                width: 320px;
                text-align: left;
                font-weight: normal;
                @include max-screen($breakpoint-mobile) {
                  width: 74.7%;
                  font-size: 13px;
                }
              }
            }
          }
          p{
            line-height: 1.6;
            clear: both;
            @include max-screen($breakpoint-mobile) {
              line-height: 1.692;
            }
          }
          .txt{
            color: $fc02;
          }
        }
      }
      .first{
        border-top: 1px dotted #000;
      }
      .last{
        @include max-screen($breakpoint-mobile) {
          margin-bottom: 40px;
        }
      }
    }
  }
}