@charset "UTF-8";
/* *****************************
 *
 * Import file to Scss or Sass.
 *
 **************************** */
/*====================================================================

01.format
02.header
03.contents
04.footer
05.top
06.ボトムページ共通
07.about
08.shop
09.method
10.power

=====================================================================*/
/* 01.format
-------------------------------------------------- */
body {
  height: 100%;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, 'MS PGothic', arial, helvetica, sans-serif;
  color: #1b1b1b;
  background: url("../img/bac-bg.gif");
}
@media screen and (min-width: 1000px) {
  body {
    font-size: 14px;
    /*line-height:　;*/
  }
}
@media screen and (max-width: 1000px) {
  body {
    font-size: 13px;
    line-height: 1.692;
  }
}

@media screen and (max-width: 1000px) {
  .pc {
    display: none !important;
  }
}

@media screen and (min-width: 1001px) {
  .rsp {
    display: none !important;
  }
}

@media screen and (max-width: 1000px) {
  img {
    width: 100%;
    height: auto;
  }
}

/* 02.header
-------------------------------------------------- */
#header {
  position: fixed;
  z-index: 99;
  height: 100%;
  top: 0;
  left: 0;
}
#header h1 {
  position: absolute;
  width: 100%;
  margin: 5px 0 0 10px;
  color: #fff;
  font-size: 11px;
  font-weight: 400;
}
#header .logo {
  position: absolute;
  width: 126px;
  top: 10%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
#header .logo img {
  width: 100%;
  height: auto;
}

#header_rsp {
  position: relative;
  background: url("../img/sp/main.jpg") center top no-repeat;
  background-size: cover;
}
#header_rsp h1 {
  width: 21.5%;
  height: auto;
  margin: 0 auto;
  padding-top: 20%;
}
#header_rsp #menu_btn {
  position: absolute;
  top: 0;
  left: 3%;
  width: 12%;
  height: auto;
  padding-top: 3%;
}

#main_img {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
}
#main_img .slider li {
  height: 1800px;
  background-position: center 0;
  background-size: cover;
}

/* 03.contents
-------------------------------------------------- */
#contents {
  position: relative;
  top: 0;
  float: right;
  width: 867px;
}
@media screen and (max-width: 1000px) {
  #contents {
    position: static;
    float: none;
    width: 100%;
  }
}
#contents #gnav {
  /*position: fixed;*/
  position: absolute;
  float: left;
  width: 87px;
  padding: 72px 0;
}
#contents #gnav li {
  padding-bottom: 35px;
}
#contents #gnav li a {
  display: block;
}
#contents #gnav li a img {
  display: block;
  margin: 0 auto;
}
#contents #menu {
  display: none;
  width: 100%;
  top: 74px;
  position: absolute;
  z-index: 100;
}
#contents #menu li {
  background-color: #fff;
  border-top: 1px solid #799c7e;
}
#contents #menu li a {
  display: block;
  padding: 3%;
  color: #799c7e;
  text-decoration: none;
}
#contents #wrap {
  *zoom: 1;
  position: relative;
  left: 87px;
  width: 773px;
}
#contents #wrap:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
@media screen and (max-width: 1000px) {
  #contents #wrap {
    left: 0;
    width: 100%;
  }
}

/* 04.footer
-------------------------------------------------- */
#contents #footer {
  position: relative;
  left: 87px;
  width: 726px;
  height: 48px;
  padding: 25px 20px 25px 25px;
  border: 1px solid #c6c6c6;
}
@media screen and (max-width: 1000px) {
  #contents #footer {
    position: static;
    width: 93%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    border: none;
  }
}
#contents #footer .unit {
  float: left;
}
#contents #footer .unit ul {
  font-size: 0;
}
#contents #footer .unit ul li {
  display: inline-block;
  padding: 0 8px;
  font-size: 13px;
  border-right: 2px solid #c6c6c6;
}
#contents #footer .unit ul li:first-child {
  padding-left: 0;
}
#contents #footer .unit ul li:last-child {
  border-right: none;
}
#contents #footer .unit ul li a:hover {
  text-decoration: underline;
}
#contents #footer .unit p {
  padding-top: 18px;
  font-size: 12px;
}
#contents #footer .to_top {
  float: right;
  width: 58px;
  height: 57px;
}
@media screen and (max-width: 1000px) {
  #contents #footer .to_top {
    float: none;
    margin: 0 auto 40px;
  }
}
#contents #footer .copyright {
  padding-bottom: 25px;
  font-size: 12px;
  text-align: center;
  line-height: 2.167;
}

/* 05.top
-------------------------------------------------- */
#contents .top {
  padding-top: 7px;
}
@media screen and (max-width: 1000px) {
  #contents .top {
    padding-top: 0;
  }
}
#contents .top .section {
  *zoom: 1;
  padding-bottom: 7px;
}
#contents .top .section:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
@media screen and (max-width: 1000px) {
  #contents .top .section {
    padding-bottom: 0;
  }
}
#contents .top .section .about {
  float: left;
  width: 500px;
}
@media screen and (max-width: 1000px) {
  #contents .top .section .about {
    float: none;
    width: 100%;
  }
}
#contents .top .section .feature {
  float: right;
  width: 264px;
}
@media screen and (max-width: 1000px) {
  #contents .top .section .feature {
    float: none;
    width: 100%;
  }
}
#contents .top .section .power {
  float: left;
  width: 267px;
}
#contents .top .section .unit {
  float: right;
  width: 499px;
}
#contents .top .section .unit .news {
  width: 497px;
  height: 205px;
  margin-bottom: 7px;
  border: 1px solid #c6c6c6;
}
#contents .top .section .unit .news h2 {
  width: 238px;
  height: 16px;
  padding: 20px 0 20px 22px;
}
#contents .top .section .unit .news .article_area {
  width: 100%;
  height: 145px;
  overflow: auto;
}
#contents .top .section .unit .news .article_area h3 {
  padding: 17px 22px 0;
  line-height: 1.714;
  border-top: 1px solid #c6c6c6;
}
#contents .top .section .unit .news .article_area p {
  padding: 0 22px 10px;
  line-height: 1.714;
}
#contents .top .section .unit .shop {
  float: left;
  width: 244px;
  height: 216px;
  border: 1px solid #c6c6c6;
}
#contents .top .section .unit .shop p {
  width: 90px;
  height: 65px;
  margin: 125px auto;
  font-size: 14px;
  text-align: center;
  background: url("../img/top/shop_icon.gif") 50% 100% no-repeat;
}
#contents .top .section .unit .shop p a {
  display: block;
  width: 100%;
  height: 100%;
  color: #1b1b1b;
}
#contents .top .section .unit .price {
  float: right;
  width: 244px;
  height: 216px;
  border: 1px solid #c6c6c6;
}
#contents .top .section .unit .price p {
  width: 90px;
  height: 65px;
  margin: 125px auto;
  font-size: 14px;
  text-align: center;
  background: url("../img/top/price_icon.gif") 50% 100% no-repeat;
}
#contents .top .section .unit .price p a {
  display: block;
  width: 100%;
  height: 100%;
  color: #1b1b1b;
}
#contents .top .section img {
  width: 100%;
  height: auto;
}
#contents .top .section_rsp {
  *zoom: 1;
  width: 93%;
  margin: 0 auto;
  padding-bottom: 3%;
}
#contents .top .section_rsp:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
#contents .top .section_rsp .power {
  width: 100%;
}
#contents .top .section_rsp .shop {
  float: left;
  width: 49%;
  border: 1px solid #c6c6c6;
}
#contents .top .section_rsp .shop p {
  height: 100%;
  background: url("../img/top/shop_icon.gif") 50% 80% no-repeat;
  background-size: 25% auto;
}
#contents .top .section_rsp .shop p a {
  display: block;
  width: 100%;
  height: 56%;
  padding-top: 40%;
  font-size: 14px;
  text-align: center;
  color: #1b1b1b;
}
#contents .top .section_rsp .price {
  float: right;
  width: 49%;
  border: 1px solid #c6c6c6;
}
#contents .top .section_rsp .price p {
  height: 100%;
  background: url("../img/top/price_icon.gif") 50% 80% no-repeat;
  background-size: 20% auto;
}
#contents .top .section_rsp .price p a {
  display: block;
  width: 100%;
  height: 56%;
  padding-top: 40%;
  font-size: 14px;
  text-align: center;
  color: #1b1b1b;
}
#contents .top .section_rsp .news {
  width: 100%;
  height: auto;
  margin-bottom: 7px;
  border: 1px solid #c6c6c6;
}
#contents .top .section_rsp .news h2 {
  width: 238px;
  height: 16px;
  padding: 4% 0 4% 4%;
}
#contents .top .section_rsp .news .article_area {
  width: 100%;
  overflow: auto;
  border-top: 1px solid #c6c6c6;
}
#contents .top .section_rsp .news .article_area h3 {
  width: 92%;
  margin: 0 auto;
  padding-top: 3%;
  font-size: 13px;
  line-height: 1.714;
  border-top: 1px dotted #c6c6c6;
}
#contents .top .section_rsp .news .article_area .first {
  border-top: none;
}
#contents .top .section_rsp .news .article_area p {
  width: 92%;
  margin: 0 auto;
  padding-bottom: 4%;
  font-size: 13px;
  line-height: 1.846;
}
#contents .top #banner {
  height: 234px;
  padding-left: 43px;
  background: url("../img/top/shopinfo_bg.jpg") no-repeat;
}
@media screen and (max-width: 1000px) {
  #contents .top #banner {
    width: 93%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-left: 0;
    background: none;
  }
}
#contents .top #banner h2 {
  width: 340px;
  height: 23px;
  padding: 23px 0 15px;
}
@media screen and (max-width: 1000px) {
  #contents .top #banner h2 {
    padding: 0 0 20px;
  }
}
#contents .top #banner p {
  width: 685px;
  line-height: 1.714;
}
@media screen and (max-width: 1000px) {
  #contents .top #banner p {
    width: 100%;
    font-size: 13px;
    line-height: 1.846;
  }
}
#contents .top #banner_rsp {
  width: 93%;
  margin: 0 auto 12px;
}
#contents .top #shopinfo {
  margin-bottom: 7px;
  padding: 20px 0 20px 43px;
  border: 1px solid #c6c6c6;
}
@media screen and (max-width: 1000px) {
  #contents .top #shopinfo {
    width: 85%;
    margin: 0 auto 30px;
    padding: 5% 4%;
  }
}
#contents .top #shopinfo p {
  font-size: 14px;
  line-height: 2;
}
@media screen and (max-width: 1000px) {
  #contents .top #shopinfo p {
    font-size: 13px;
    line-height: 1.846;
  }
}
#contents .top #shopinfo p a {
  border-bottom: 1px solid #a1a19c;
}
@media screen and (max-width: 1000px) {
  #contents .top #shopinfo p a {
    border-bottom: 1px solid #000;
  }
}
#contents .top #shopinfo p span {
  font-weight: bold;
}

/* 06.ボトムページ共通
-------------------------------------------------- */
#contents .btm {
  width: 772px;
  border-left: 1px solid #c6c6c6;
}
@media screen and (max-width: 1000px) {
  #contents .btm {
    width: 100%;
    border-left: none;
  }
}
#contents .btm .section {
  *zoom: 1;
  width: 680px;
  margin: 0 auto;
  padding-bottom: 50px;
}
#contents .btm .section:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
@media screen and (max-width: 1000px) {
  #contents .btm .section {
    width: 93%;
    padding-bottom: 0;
  }
}
#contents .btm .section .section_ttl {
  width: 100%;
  height: 43px;
  margin-bottom: 20px;
  border-bottom: 3px solid #799c7e;
}
@media screen and (max-width: 1000px) {
  #contents .btm .section .section_ttl img {
    display: block;
  }
}
#contents .btm .section p {
  line-height: 1.714;
}
@media screen and (max-width: 1000px) {
  #contents .btm .section p {
    font-size: 13px;
    line-height: 1.692;
  }
}
#contents .btm #outline {
  padding-top: 50px;
}
@media screen and (max-width: 1000px) {
  #contents .btm #outline {
    padding-top: 20px;
    padding-top: 5.3%;
  }
}
#contents .btm #outline h2 {
  margin: 0 auto;
}

/* 07.about
-------------------------------------------------- */
#contents .about #outline {
  background: url("../img/about/outline_bg.png") center top no-repeat;
}
@media screen and (max-width: 1000px) {
  #contents .about #outline {
    margin-bottom: 25.5px;
    background: none;
  }
}
#contents .about #outline h2 {
  width: 254px;
  padding-bottom: 410px;
}
@media screen and (max-width: 1000px) {
  #contents .about #outline h2 {
    padding-bottom: 30px;
  }
}
#contents .about #outline .ol_img {
  margin: 0 auto 30px;
}
@media screen and (max-width: 1000px) {
  #contents .about #feature .section_ttl .img_feature {
    width: 170px;
    height: 36px;
  }
}
#contents .about #feature .txt01 {
  padding-bottom: 35px;
}
@media screen and (max-width: 1000px) {
  #contents .about #feature .txt01 {
    padding-bottom: 11px;
  }
}
#contents .about #feature .unit01 {
  width: 625px;
  margin: 0 auto;
  padding-bottom: 45px;
}
@media screen and (max-width: 1000px) {
  #contents .about #feature .unit01 {
    width: 100%;
    margin-bottom: 15px;
    padding: 20px 0 16px;
    background: url("../img/method/caution_bg.jpg") 0 0 no-repeat;
    background-size: cover;
  }
  #contents .about #feature .unit01 p {
    padding: 0 3%;
  }
}
#contents .about #feature .unit01 h3 {
  font-size: 16px;
  font-family: "Kozuka Mincho Pr6N";
  text-align: center;
  line-height: 2.625;
}
@media screen and (max-width: 1000px) {
  #contents .about #feature .unit01 h3 {
    padding-bottom: 10px;
    line-height: 1;
  }
}
#contents .about #feature .unit02 {
  margin-bottom: 25px;
  padding-left: 100px;
}
@media screen and (max-width: 1000px) {
  #contents .about #feature .unit02 {
    width: 100%;
    margin-bottom: 0;
    padding: 90px 0 10px;
  }
}
#contents .about #feature .unit02 h4 {
  line-height: 1.786;
}
@media screen and (max-width: 1000px) {
  #contents .about #feature .unit02 h4 {
    line-height: 1.692;
  }
}
#contents .about #feature #kono01 {
  background: url("../img/about/kono01.gif") 0 50% no-repeat;
}
@media screen and (max-width: 1000px) {
  #contents .about #feature #kono01 {
    background-position: center top;
  }
}
#contents .about #feature #kono02 {
  background: url("../img/about/kono02.gif") 0 50% no-repeat;
}
@media screen and (max-width: 1000px) {
  #contents .about #feature #kono02 {
    background-position: center top;
  }
}
#contents .about #feature #kono03 {
  background: url("../img/about/kono03.gif") no-repeat;
  padding-top: 8px;
  padding-bottom: 8px;
}
@media screen and (max-width: 1000px) {
  #contents .about #feature #kono03 {
    padding: 90px 0 10px;
    background-position: center top;
  }
}
#contents .about #feature #kono04 {
  margin-bottom: 0;
  background: url("../img/about/kono04.gif") 0 50% no-repeat;
}
@media screen and (max-width: 1000px) {
  #contents .about #feature #kono04 {
    padding-bottom: 40px;
    background-position: center top;
  }
}

/* 08.shop
-------------------------------------------------- */
#contents .shop #outline h2 {
  width: 256px;
  padding-bottom: 55px;
}
@media screen and (max-width: 1000px) {
  #contents .shop #outline h2 {
    padding-bottom: 30px;
  }
}
#contents .shop #outline table {
  width: 100%;
  margin-bottom: 20px;
  border-top: 1px dotted #000;
}
@media screen and (max-width: 1000px) {
  #contents .shop #outline table {
    margin-bottom: 5.6%;
    line-height: 1.692;
  }
}
#contents .shop #outline table tr {
  border-bottom: 1px dotted #000;
}
#contents .shop #outline table tr th {
  width: 145px;
  padding: 17px 0 17px 10px;
  font-weight: bold;
  text-align: left;
}
@media screen and (max-width: 1000px) {
  #contents .shop #outline table tr th {
    width: 21%;
    padding: 0;
    font-size: 13px;
  }
}
@media screen and (max-width: 1000px) {
  #contents .shop #outline table tr td {
    padding: 12px 0;
    font-size: 13px;
  }
}
#contents .shop #outline .photo_area {
  padding-bottom: 25px;
}
@media screen and (max-width: 1000px) {
  #contents .shop #outline .photo_area {
    padding-bottom: 5.7%;
  }
}
#contents .shop #outline .gmap {
  position: relative;
  padding-bottom: 45%;
  height: 0;
  overflow: hidden;
  margin-bottom: 10px;
  border: 1px solid #a6a6a6;
}
@media screen and (max-width: 1000px) {
  #contents .shop #outline .gmap {
    padding-bottom: 71%;
    margin-bottom: 10px;
  }
}
#contents .shop #outline .gmap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
#contents .shop #outline .map_guide {
  height: 43px;
  padding: 20px;
  background: url("../img/shop/shop_bg.jpg") no-repeat;
}
@media screen and (max-width: 1000px) {
  #contents .shop #outline .map_guide {
    width: 94.2%;
    height: auto;
    margin-bottom: 20px;
    background-size: cover;
    padding: 10.5px 2.9% 9px;
  }
}
#contents .shop #outline .map_guide p {
  line-height: 1.857;
}
@media screen and (max-width: 1000px) {
  #contents .shop #outline .map_guide p {
    font-size: 13px;
    line-height: 1.692;
  }
}
@media screen and (max-width: 1000px) {
  #contents .shop #price .section_ttl .img_price {
    width: 195px;
    height: 37px;
  }
}
#contents .shop #price table {
  width: 100%;
}
#contents .shop #price table tr {
  height: 38px;
}
#contents .shop #price table tr th {
  width: 50%;
  background: url("../img/shop/shop_bg.jpg") no-repeat;
  font-weight: normal;
  vertical-align: middle;
  border: 1px solid #a6a6a6;
}
@media screen and (max-width: 1000px) {
  #contents .shop #price table tr th {
    font-size: 13px;
  }
}
#contents .shop #price table tr td {
  text-align: center;
  vertical-align: middle;
  border: 1px solid #a6a6a6;
}
@media screen and (max-width: 1000px) {
  #contents .shop #price table tr td {
    font-size: 13px;
  }
}
#contents .shop #price .menu {
  margin-bottom: 10px;
}
#contents .shop #price .option {
  margin-bottom: 15px;
}
@media screen and (max-width: 1000px) {
  #contents .shop #price .txt_area {
    padding-bottom: 36.5px;
  }
}

/* 09.method
-------------------------------------------------- */
#contents .method #outline h2 {
  width: 211px;
  padding-bottom: 55px;
}
@media screen and (max-width: 1000px) {
  #contents .method #outline h2 {
    padding-bottom: 30px;
  }
}
#contents .method #outline .txt_area01 {
  padding-bottom: 25px;
}
@media screen and (max-width: 1000px) {
  #contents .method #outline .txt_area01 {
    padding-bottom: 15px;
  }
}
#contents .method #outline .caution {
  padding: 22px 0 34px;
  background: url("../img/method/caution_bg.jpg") no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1000px) {
  #contents .method #outline .caution {
    margin-bottom: 4.3%;
    padding: 15px 0 20px;
    background-size: cover;
  }
}
#contents .method #outline .caution h3 {
  margin: 0 auto 25px;
  font-size: 18px;
  font-family: "Kozuka Mincho Pr6N";
  line-height: 2.333;
  border-bottom: 1px solid #000;
}
@media screen and (max-width: 1000px) {
  #contents .method #outline .caution h3 {
    margin: 0 auto 20px;
    font-size: 16px;
    font-weight: bold;
  }
}
#contents .method #outline .caution .sub_ttl01 {
  width: 365px;
}
@media screen and (max-width: 1000px) {
  #contents .method #outline .caution .sub_ttl01 {
    width: 320px;
  }
}
#contents .method #outline .caution .sub_ttl02 {
  width: 150px;
}
@media screen and (max-width: 1000px) {
  #contents .method #outline .caution .sub_ttl02 {
    width: 130px;
  }
}
#contents .method #outline .caution .txt_area02 {
  padding: 0 32px;
}
@media screen and (max-width: 1000px) {
  #contents .method #outline .caution .txt_area02 {
    width: 91%;
    margin: 0 auto;
    padding: 0;
  }
}
#contents .method #outline .caution .txt_area02 p {
  line-height: 1.857;
}
@media screen and (max-width: 1000px) {
  #contents .method #outline .caution .txt_area02 p {
    font-size: 13px;
    line-height: 1.692;
  }
}
#contents .method #outline .caution .txt_area02 .note {
  color: #e60012;
}
#contents .method #step .unit {
  *zoom: 1;
  padding-bottom: 30px;
  background: url("../img/method/yajirushi.gif") 50% 97% no-repeat;
}
#contents .method #step .unit:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
@media screen and (max-width: 1000px) {
  #contents .method #step .unit {
    padding-bottom: 9%;
    background-size: 8.3% auto;
    background-position: 50% 98%;
  }
}
#contents .method #step .unit .photo {
  float: left;
  width: 156px;
  height: 115px;
  border: 1px solid #a6a6a6;
}
@media screen and (max-width: 1000px) {
  #contents .method #step .unit .photo {
    float: none;
    width: 45%;
    height: auto;
    margin: 0 auto 2%;
  }
}
#contents .method #step .unit .txt_area03 {
  float: right;
  height: 102px;
  width: 474px;
  padding: 13px 17px 0;
  border: 1px solid #a6a6a6;
}
@media screen and (max-width: 1000px) {
  #contents .method #step .unit .txt_area03 {
    float: none;
    width: 96%;
    height: auto;
    margin: 0 auto;
    padding: 10px 2%;
  }
}
#contents .method #step .unit .txt_area03 h3 {
  line-height: 1.714;
  color: #56815c;
}
#contents .method #step .last {
  padding-bottom: 0;
  background: none;
}
@media screen and (max-width: 1000px) {
  #contents .method #step .last {
    margin-bottom: 40px;
  }
}

/* 10.power
-------------------------------------------------- */
#contents .power #outline {
  background: url("../img/power/page_ttl_bg.png") center 173px no-repeat;
}
@media screen and (max-width: 1000px) {
  #contents .power #outline {
    background: none;
  }
}
#contents .power #outline h2 {
  width: 251px;
  padding-bottom: 298px;
}
@media screen and (max-width: 1000px) {
  #contents .power #outline h2 {
    width: 100%;
    padding-bottom: 41.3%;
    background: url("../img/sp/outline_bg_power.png") center 100% no-repeat;
    background-size: 100% auto;
  }
  #contents .power #outline h2 img {
    display: block;
    width: 251px;
    margin: 0 auto;
  }
}
#contents .power #outline .txt01 {
  padding-bottom: 35px;
}
@media screen and (max-width: 1000px) {
  #contents .power #outline .txt01 {
    padding: 15.5px 0 25.5px;
  }
}
#contents .power #outline h3 {
  padding-bottom: 12px;
  font-weight: bold;
}
@media screen and (max-width: 1000px) {
  #contents .power #outline h3 {
    padding-bottom: 5.5px;
  }
}
#contents .power #outline .sub_ttl {
  color: #56815c;
}
#contents .power #outline .txt02 {
  padding-bottom: 12px;
}
@media screen and (max-width: 1000px) {
  #contents .power #outline .txt02 {
    padding-bottom: 5.5px;
  }
}
#contents .power #outline .txt03 {
  padding: 26px 0 25px;
}
@media screen and (max-width: 1000px) {
  #contents .power #outline .txt03 {
    padding: 15.5px 0 5.5px;
  }
}
#contents .power #outline .unit {
  width: 679px;
  height: 62px;
  padding: 14px 0 0 22px;
  background: url("../img/power/frame.gif") no-repeat;
}
@media screen and (max-width: 1000px) {
  #contents .power #outline .unit {
    *zoom: 1;
    position: relative;
    width: 90%;
    height: auto;
    margin-bottom: 20px;
    padding: 14px 4%;
    border: 3px solid #799c7e;
    border-radius: 10px;
    background: none;
  }
  #contents .power #outline .unit:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
  }
}
@media screen and (max-width: 1000px) {
  #contents .power #guide .section_ttl .img_guide {
    width: 193px;
    height: 37px;
  }
}
#contents .power #guide .txt_area01 {
  padding-bottom: 25px;
}
@media screen and (max-width: 1000px) {
  #contents .power #guide .txt_area01 {
    padding-bottom: 15.5px;
  }
}
#contents .power #guide .txt_area01 p span {
  font-weight: bold;
}
#contents .power #guide .txt_area01 p a {
  font-weight: bold;
  color: #56815c;
}
#contents .power #guide .unit {
  *zoom: 1;
  padding: 20px 0;
  border-bottom: 1px dotted #000;
}
#contents .power #guide .unit:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
#contents .power #guide .unit .photo {
  float: left;
  width: 152px;
}
@media screen and (max-width: 1000px) {
  #contents .power #guide .unit .photo {
    float: none;
    width: 43.3%;
    margin: 0 auto 20px;
  }
}
#contents .power #guide .unit .txt_area02 {
  float: right;
  padding-right: 8px;
}
@media screen and (max-width: 1000px) {
  #contents .power #guide .unit .txt_area02 {
    float: none;
    width: 100%;
  }
}
#contents .power #guide .unit .txt_area02 h3 {
  line-height: 1;
  padding-top: 5px;
  padding-bottom: 7px;
}
@media screen and (max-width: 1000px) {
  #contents .power #guide .unit .txt_area02 h3 {
    padding-top: 0;
    padding-bottom: 5px;
    font-size: 13px;
  }
}
@media screen and (max-width: 1000px) {
  #contents .power #guide .unit .txt_area02 table {
    width: 100%;
  }
}
#contents .power #guide .unit .txt_area02 table tr {
  width: 420px;
  line-height: 1.6;
  color: #56815c;
}
@media screen and (max-width: 1000px) {
  #contents .power #guide .unit .txt_area02 table tr {
    width: 100%;
    line-height: 1.846;
  }
}
@media screen and (max-width: 1000px) and (max-width: 1000px) {
  #contents .power #guide .unit .txt_area02 table tr td {
    font-size: 13px;
  }
}

#contents .power #guide .unit .txt_area02 table tr .volume {
  width: 70px;
}
@media screen and (max-width: 1000px) {
  #contents .power #guide .unit .txt_area02 table tr .volume {
    width: 20%;
  }
}
#contents .power #guide .unit .txt_area02 .product06 tr {
  width: 460px;
}
@media screen and (max-width: 1000px) {
  #contents .power #guide .unit .txt_area02 .product06 tr {
    width: 100%;
  }
}
#contents .power #guide .unit .txt_area02 .product06 tr th {
  width: 320px;
  text-align: left;
  font-weight: normal;
}
@media screen and (max-width: 1000px) {
  #contents .power #guide .unit .txt_area02 .product06 tr th {
    width: 74.7%;
    font-size: 13px;
  }
}
#contents .power #guide .unit .txt_area02 p {
  line-height: 1.6;
  clear: both;
}
@media screen and (max-width: 1000px) {
  #contents .power #guide .unit .txt_area02 p {
    line-height: 1.692;
  }
}
#contents .power #guide .unit .txt_area02 .txt {
  color: #56815c;
}
#contents .power #guide .first {
  border-top: 1px dotted #000;
}
@media screen and (max-width: 1000px) {
  #contents .power #guide .last {
    margin-bottom: 40px;
  }
}
